.course-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}
.course-card-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-img {
  width: 40%;
}
.card-data-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
}
.card-name{
  color: #1e293b;
  font-size: 1.1rem;
  font-weight: bold;
}
.card-description{
  color: #64748b;
  font-size: 1rem;
  margin-top: 0;
}